@model SurveySearch
@{
    ViewData["Title"] = "Index";
}

<section class="centeredPanel">
    <h2>New Park Review</h2>
    <form asp-controller="Survey" asp-action="Index" method="post">

        <div asp-validation-summary="All" class="error"></div>
        <table class="table">
            <tr>
                <td><label asp-for="@Model.survey.ParkCode">Favorite National Park</label></td> @*TODO: Make a pulldown and grab park names*@
                <td>
                    <select name="ParkCode">
                        <option value="Cuyahoga Valley National Park">Cuyahoga Valley National Park</option>
                        <option value="Glacier National Park">Glacier National Park</option>
                    </select>

                </td> @*TODO: Make a pulldown and grab park names*@
            </tr>
            <tr>
                <td><label asp-for="@Model.survey.EmailAddress">Your email</label></td>
                <td><input asp-for="@Model.survey.EmailAddress" /><span asp-validation-for="@Model.survey.EmailAddress" class="error"></span></td>
            </tr>
            <tr>
                <td><label asp-for="@Model.survey.State">State of residence</label></td>
                <td>
                    <select name="State">
                        <option value="Ohio">Ohio</option>
                        <option value="Pennsylvania">Pennsylvania</option>
                    </select>
                </td>

            </tr>
            <tr>
                <td><label asp-for="@Model.survey.ActivityLevel">Activity level</label></td>
                @*TODO: Make a pulldown: inactive, sedentary, active, extremely active*@
                <td>
                    <select name="Activity Level">
                        <option value="Inactive">Inactive</option>
                        <option value="Sedentary">Sedentary</option>
                    </select>
                </td>
                @*TODO: Make a pulldown*@
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit!" /></td>
            </tr>
        </table>
    </form>
</section>