@model ParkSearch
@{
    ViewData["Title"] = "Detail";
    User user = ViewData["CurrentUser"] as User;
}


@*Detail view of chosen park*@
<section class="centeredPanel">
    <div class="detail-view">
        <div class="park-image">
            <img src="~/images/parks/@(Model.park.ParkCode).jpg" />
        </div>
        <div class="all-park-info">
            <div class="park-description">
                <p class="DetailParkName">@Model.park.ParkName - @Model.park.State</p>
                <p>@Model.park.ParkDescription</p>
            </div>
            <div class="park-info1">
                <p><strong>Total Acreage: </strong>@(Model.park.Acreage.ToString("N0")) acres</p>
                <p><strong>Total Elevation: </strong>@(Model.park.ElevationInFeet.ToString("N0")) feet</p>
                <p><strong>Total Trail Length: </strong>@Model.park.MilesOfTrail miles</p>
            </div>
            <div class="park-info2">
                <p><strong>Campsites on Grounds: </strong>@(Model.park.NumberOfCampsites.ToString("N0"))</p>
                <p><strong>Climate Type: </strong>@Model.park.Climate</p>
                <p><strong>Year Founded: </strong>@Model.park.YearFounded</p>
            </div>
            <div class="park-info3">
                <p><strong>Annual Visitor Count: </strong>@(Model.park.AnnualVisitorCount.ToString("N0"))</p>
                <p><strong>Park Entry Fee: </strong>$@Model.park.EntryFee</p>
                <p><strong>Number of Animal Species: </strong>@Model.park.NumberOfAnimalSpecies</p>
            </div>
            <div class="park-quote">
                <p><i>"@Model.park.InspirationalQuote"</i>  - @Model.park.InspirationalQuoteSource</p>
            </div>
        </div>
        <div class="weather">
            <div class="today" id="weather">
                <p id="today"><strong>Today</strong></p>
                @*Displays Day 1 of Forecast in Detail View*@
                @if (Model.WeatherList[0].Forecast == "partly cloudy")
                {
                    <img src="~/images/weather/partlyCloudy.png" />
                }
                else
                {
                    <img src="~/images/weather/@(Model.WeatherList[0].Forecast).png" />
                }
                @*If user is signed in, use their preferred temp and update accordingly*@
                @if (user != null)
                {
                    @if (user.TempPref == "F")
                    {
                        <p>High @Model.WeatherList[0].HighTemp°F || Low @Model.WeatherList[0].LowTemp°F</p>
                    }
                    else
                    {
                        <p>High @Model.tempConversion(Model.WeatherList[0].HighTemp)°C || Low @Model.tempConversion(Model.WeatherList[0].LowTemp)°C</p>
                    }
                }
                else
                {
                    @if (Model.TempChoice == "F")
                    {
                        <p>High @Model.WeatherList[0].HighTemp°F || Low @Model.WeatherList[0].LowTemp°F</p>
                    }
                    else
                    {
                        <p>High @Model.tempConversion(Model.WeatherList[0].HighTemp)°C || Low @Model.tempConversion(Model.WeatherList[0].LowTemp)°C</p>
                    }

                }

                <p>@Model.GetAdvisory(Model.WeatherList[0])</p>
            </div>


            @*Displays Days 2-5 of Forecast in Detail View*@

            @for (int i = 1; i < Model.WeatherList.Count; i++)
            {
                <div class="forecast" id="weather">
                    <p> </p>
                    @if (Model.WeatherList[i].Forecast == "partly cloudy")
                    {
                        <img src="~/images/weather/partlyCloudy.png" />
                    }
                    else
                    {
                        <img src="~/images/weather/@(Model.WeatherList[i].Forecast).png" />
                    }
                    @if (Model.TempChoice == "F")
                    {
                        <p>High @Model.WeatherList[i].HighTemp°F|| Low @Model.WeatherList[i].LowTemp°F</p>
                    }
                    else
                    {
                        <p>High @Model.tempConversion(Model.WeatherList[i].HighTemp)°C || Low @Model.tempConversion(Model.WeatherList[i].LowTemp)°C</p>
                    }
                    <p>@Model.GetAdvisory(Model.WeatherList[i])</p>
                </div>
            } @*use for loop instead have the image be at WeatherList[i]*@
        </div>
        @if (user != null)
        {
            @if (user.TempPref == "F")
            {
                <form asp-controller="Home" asp-action="Detail" asp-route-parkCode="@Model.park.ParkCode" method="post">
                    @*<input asp-for="@Model.TempChoice" value="C" type="hidden" />*@
                    <input asp-for="@Model.park.ParkCode" value="@Model.park.ParkCode" type="hidden" />
                    <input asp-for="@user.Id" value="@user.Id" type="hidden" />
                    <input asp-for="@user.TempPref" value="C" type="hidden" />
                    <input class="submit" type="submit" value="Switch to Celcius" />
                </form>
            }
            else
            {
                <form asp-controller="Home" asp-action="Detail" asp-route-parkCode="@Model.park.ParkCode" method="post">
                    @*<input asp-for="@Model.TempChoice" value="F" type="hidden" />*@
                    <input asp-for="@Model.park.ParkCode" value="@Model.park.ParkCode" type="hidden" />
                    <input asp-for="@user.Id" value="@user.Id" type="hidden" />
                    <input asp-for="@user.TempPref" value="F" type="hidden" />
                    <input class="submit" type="submit" value="Switch to Fahrenheit" />
                </form>
            }
        }
        else
        {
            @if (Model.TempChoice == "F")
            {
                <form asp-controller="Home" asp-action="Detail" asp-route-parkCode="@Model.park.ParkCode" method="post">
                    <input asp-for="@Model.TempChoice" value="C" type="hidden" />
                    <input asp-for="@Model.park.ParkCode" value="@Model.park.ParkCode" type="hidden" />
                    <input class="submit" type="submit" value="Switch to Celcius" />
                </form>
            }
            else
            {
                <form asp-controller="Home" asp-action="Detail" asp-route-parkCode="@Model.park.ParkCode" method="post">
                    <input asp-for="@Model.TempChoice" value="F" type="hidden" />
                    <input asp-for="@Model.park.ParkCode" value="@Model.park.ParkCode" type="hidden" />
                    <input class="submit" type="submit" value="Switch to Fahrenheit" />
                </form>
            }
        }

</section>